.social-icons {
padding: 0.15rem 0;
font-size: 2.2rem;
}

@media (max-width: 425px) {
	.social-icons {
		font-size: 2.5rem;
	}
}

.social-icons a {
	padding: 0 1.2rem;
}

.social-icons a.devto svg {
	margin-bottom: -0.25rem;
	width: 2.7rem;
	height: 2.7rem;
}

@media (max-width: 425px) {
	.social-icons a.devto svg {
		margin-bottom: -0.225rem;
		width: 2.25rem;
		height: 2.25rem;
	}
}

.social-icons.animate-icons a {
	display: inline-block;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	-webkit-box-shadow: 0 0 1px transparent;
	box-shadow: 0 0 1px transparent;
}

.social-icons.animate-icons a:hover, .social-icons.animate-icons a:focus, .social-icons.animate-icons a:active {
	-webkit-animation-name: icon-wobble;
	animation-name: icon-wobble;
	-webkit-animation-duration: 0.75s;
	animation-duration: 0.75s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

@-webkit-keyframes icon-wobble {
	25% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	75% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes icon-wobble {
	25% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
	}
	50% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	75% {
		-webkit-transform: translateY(-4px);
		transform: translateY(-4px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
