.about-page {
	padding-top: 4rem;
	min-height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
}

.about-page h1 {
	padding: 1rem 0;
	font-size: 3rem;
}

.about-page .content-grid {
	-ms-flex: auto;
	flex: auto;
	margin-top: 3rem;
}

.flexrow {
  display: flex;
  flex-direction: row;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.item1 {
  flex: 7;
}
.item2 {
  flex: 5;
	padding-top: 2rem;
}
.space {
	flex: 1;
}

@media (max-width: 700px) {
	.about-page {
		padding-top: 3rem;
	}

	.flexrow {
	  flex-direction: column;
	}
	.item1 {
	  flex: 12;
	}
	.item2 {
	  flex: 12;
		text-align: center;
		padding-bottom: 3rem;
	}
	.item2 img {
		width: 300px;
	}
}

.about-page .about-wrapper .about-content {
	font-size: 0.875rem;
	line-height: 1.5rem;
	-ms-flex-direction: row;
	flex-direction: row;
}

@media (max-width: 425px) {
	.about-page .about-wrapper .about-content {
		font-size: 1rem;
	}
}

.about-page .about-wrapper .about-content p {
	font-weight: 300;
	padding: 0.5rem 0;
}

.about-page .about-wrapper .about-content .text-emoji {
	padding: 2rem 0;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
}

a {
  text-decoration: none;
}
