.landing-page {
	min-height: 100vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
}

.landing-page main {
	display: -ms-flexbox;
	display: flex;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 3.25rem 1.5rem 1rem;
	text-align: center;
}

@media (max-width: 425px) {
	.landing-page main {
		padding: 4.25rem 1.5rem 1rem;
	}
}

.landing-page main .intro-wrapper {
	-ms-flex: auto;
	flex: auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
}

.landing-page main .intro-wrapper > .intro-name {
	font-family: 'Proxima Nova', sans-serif;
	font-size: 4rem;
	font-weight: bold;
	line-height: 4rem;
	padding-bottom: 1rem;
}

@media (max-width: 425px) {
	.landing-page main .intro-wrapper > .intro-name {
		font-size: 3rem;
		line-height: 3.5rem;
	}
}

.landing-page main .intro-wrapper > .tagline {
	font-family: 'Proxima Nova Light', sans-serif;
	font-size: 1rem;
	margin: 1.5rem 0;
	font-weight: 300;
}

@media (max-width: 425px) {
	.landing-page main .intro-wrapper > .tagline {
		font-size: 1.25rem;
	}
}

.landing-page main .browser-notes {
	font-size: 0.75rem;
}

.landing-page main .browser-notes span {
	border-width: 1px;
	border-style: solid;
	padding: 0.125rem 0.5rem;
}
